---
# Default home page with boxes providing collection stats
layout: page
---

<h1 id="the-founding-of-arizona-state-university">The Founding of Arizona State University</h1>
<figure>
<img src="assets/img/normal.jpg" alt="" /><figcaption>Arizona Territorial Normal School</figcaption>
</figure>
<p>Arizona State University was founded as the territorial normal school in 1885 by an act of the Thirteenth Territorial Legislature, but the institution might not have been located in Tempe without the skillful political maneuvers of John S. Armstrong and the support of Charles Trumbull Hayden.</p>
<p>Since the days of Governor Anson P. K. Safford, Arizonans recognized the need for an institution to train teachers to work in the territorial public schools, but it was not until the Thirteenth Legislature was seated in 1885 that the political will to address Arizona education was manifest. The Legislature would consider in this session big-ticket appropriations for a mental health facility, a university and a normal school. Citizens of Tucson also hoped the Thirteenth would restore the territorial capital to their city since it was moved back to Prescott in 1878. As a result a number of political prizes were available for barter during this legislative session, and because of the substantial $100,000 appropriation attached to the mental health facility it was this institution that many sought as their first priority.</p>
<p>At twenty-eight years old John Armstrong was the second youngest representative in the Thirteenth Legislature, a Democrat in his first term who was elected on a platform of securing both the mental health facility and the university for predominantly Republican Maricopa County. Upon his election he immediately applied for appointment to the House Education Committee. In a surprise move he was appointed chair of that committee by Speaker R. G. Rollins of Tucson, but his appointment was balanced by the assignment of the formidable C. C. Stephens of Tucson as chair of the Council (Senate) Committee on Education. Any bill to establish a normal school or a university would have to be approved by both the House and Council and signed by the Governor.</p>
<p>There are conflicting accounts of when John Armstrong decided to pursue the normal school for Tempe. The appointment of Stephens to chair the Council education committee and of E. W. Risley of Tucson to serve in the related House committee suggested that the Tucson interests could not secure the votes to return the capital to their city, and were positioning themselves to bargain for the university. Armstrong apparently recognized the opportunity and built a coalition to bring the normal school to Tempe in exchange for supporting a public school reform bill and for locating the mental health facility in Phoenix.</p>
<p>On February 26, 1885 Armstrong introduced House Bill no. 164, "An Act to establish a Normal School in the Territory of Arizona." The bill would establish a territorial normal school at Tempe to train public school teachers and also teach "husbandry" (agriculture) and the mechanical arts. $5,000 was proposed for founding the institution and$3,500 was set aside for two years’ operating expenses, after which the institution would be supported by tax revenue. The founding appropriations would be provided if the citizens of Tempe donated land for the school within 60 days of the bill’s passage.</p>
<p><strong>Welcome to the "New ASU Story."</strong></p>
<p>This product is respectfully dedicated to the late Alfred Thomas Jr., our founding University Archivist and co-author of the original <a href="https://search.lib.asu.edu/primo-explore/fulldisplay?docid=01ASU_ALMA21875725900003841&amp;context=L&amp;vid=01ASU&amp;search_scope=default_scope&amp;tab=books&amp;lang=en_US">ASU Story</a> that served as a baseline for this work, and to the thousands of dedicated university faculty and staff that have made ASU a truly great research university.</p>
<p>For a quick photographic tour of the site, arranged by date, please visit the <a href="timeline.htm">Chronology</a> link from any page. The bulk of the site is arranged by a topical breakdown, with five main categories and eight subcategories, as follows:</p>
<ul>
<li>Academic Freedom
<ul>
<li><a href="acpro.htm">Academic Programs</a></li>
<li><a href="research.htm">Research</a></li>
</ul></li>
<li>Campus Lives
<ul>
<li><a href="campus.htm">Campus Scenes</a></li>
<li><a href="student.htm">Student Organizations</a></li>
<li><a href="athletes.htm">Athletes</a></li>
</ul></li>
<li><a href="leaders.htm">Leadership</a>
<ul>
<li><a href="leaders.htm#PRES">Presidents</a></li>
<li><a href="leaders.htm#STUDENT">Student Government</a></li>
<li><a href="leaders.htm#ALUMNI">Alumni Association</a></li>
<li><a href="leaders.htm#CSC">Classified Staff Council</a></li>
<li><a href="leaders.htm#SENATE">Academic Senate</a></li>
<li><a href="leaders.htm#OTHER">Other Leaders</a></li>
</ul></li>
<li><a href="partner.htm">Community, Collaboration and Partnership</a></li>
<li><a href="landmark.htm">Landmarks</a></li>
</ul>
<p>This project is our most ambitious web-based exhibit of archival materials to date. In addition to the comprehensive scope of this history, the website serves as a delivery device that enables anyone to download and reuse hundreds of our best archival photographs. We invite faculty, staff, students and the general public to use these photographs for their research and educational pursuits at any time. Please visit <a href="https://www.asu.edu/lib/archives/creative.htm">Publication and Creative Services</a> for information about using and citing our materials.</p>
<p>Many individuals and campus offices have generously contributed their time and documentary resources to this project, but a few individuals have made contributions far beyond the call of duty. Please see the <a href="credits.htm">Credits</a> page for details. Thanks to all of our collaborators for making this lasting tribute to the history and culture of Arizona State University.</p>
<p>Rob Spindler<br />
University Archivist<br />
Fall, 2000</p>
<p>HB 164 passed the House education committee on March 3rd, and on March 5th Mr. Stephens introduced Council Bill no. 76, "An Act to Organize the University of the Territory of Arizona and to locate it at Tucson." This bill was read and referred to the Council Committee on Education. Back in the House on March 6th, Armstrong called for suspension of the rules and a vote on HB 164. The members agreed and passed the bill later that day. Stephens spent the weekend assessing the prospects for his university bill and realized he needed Armstrong’s support for House approval. On Tuesday March 10th, Stephens moved that HB 164 and CB 76 be considered by committee of the whole, bypassing his own Council education committee and ensuring that the bills would be considered together.</p>
<p>On the morning of March 11th, Council passed HB 164, sending the bill to the governor for signature and ensuring the establishment of the normal school at Tempe. During the afternoon session the House passed CB 76, establishing the university at Tucson. Governor F.A. Tritle signed both bills on March 12, 1885.</p>
<p>All that remained was securing twenty acres for the school from the citizens of Tempe. One account states that Charles T. Hayden, the founder and leading citizen of Tempe, had arranged for a town meeting in January in which the citizens of Tempe agreed that a normal school was desirable and that George and Martha Wilson’s cow pasture was the best location. The Wilsons originally agreed to donate five acres in exchange for $500 raised by the citizens of Tempe at that meeting. Now they would have to donate their entire pasture, which was needed to support their business, the Pioneer Meat Market, to meet the twenty acre requirement. On May 5th the Wilsons donated the entire twenty acres in exchange for $500, creating the core of the original campus and ensuring the establishment of Arizona State University.</p>

<div class="row">

  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>

</div>